<div class="col-lg-12">
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="table-responsive">
                <table class="table user-list">
                    <thead>
                    <tr>
                        <th><span>User</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>
                                <img class="avatar" src="{{user?.avatar_url}}" alt="{{user?.login}}">
                                <a class="user-name" routerLink="user/{{user?.login}}">{{user?.login}}</a>
                                <p class="user-subhead">{{user?.type}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<button (click)="pagPrev()" >Prev</button>-->
<!--<button (click)="pagNext()" >Next</button>-->