<div *ngIf="commitsList && branchesList">
    <a (click)="backClick()">
        <i class="glyphicon glyphicon-chevron-left">Back</i>
    </a>
    <div>
        <div>
            <label for="name">Name: </label>
            <span id="name">{{author}}</span>
        </div>
    </div>
    <div>
        <div class="tab">
            <button class="tablinks" [ngClass]="condition == true ? 'active':'' " (click)="openTab()">Branches</button>
            <button class="tablinks" [ngClass]="condition != true ? 'active':'' " (click)="openTab()">Commits</button>
        </div>

        <div class="tabcontent" [style.display]="condition == true ? 'block':'none'">
            <ul class="list-group">
                <li *ngFor="let item of branchesList" class="list-group-item">
                    {{item.name}}
                </li>
            </ul>
        </div>

        <div class="tabcontent" [style.display]="condition != true ? 'block':'none'">
            <table class="table user-list">
                <thead>
                <tr>
                    <th><span>#</span></th>
                    <th><span>Message</span></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of commitsList">
                        <td>
                            {{item.commit.tree.sha}}
                        </td>
                        <td>
                            {{item.commit.message}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>