<div *ngIf="user">
    <a (click)="backClick()">
        <i class="glyphicon glyphicon-chevron-left">Back</i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="user-photo">
                    <img src="{{user?.photo}}">
                </div>
                <div class="user-info">
                    <label for="name">Name: </label>
                    <span id="name">{{user?.name}}</span>
                </div>
                <div  class="user-info">
                    <label for="name">Email: </label>
                    <span id="name">{{user?.email}}</span>
                </div>
                <div  class="user-info">
                    <label for="name">Login: </label>
                    <span id="name">{{user?.login}}</span>
                </div>
            </div>
            <div class="col-sm-8">
                <ul class="list-group">
                    <li *ngFor="let rep of user?.repositories" class="list-group-item">
                        <p>{{rep?.name}}<a routerLink="{{rep?.name}}">({{rep?.full_name}})</a></p>
                        <p>{{rep?.description}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
