.user-photo img {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.user-info {
    margin-bottom: 10px;
}

.user-info:first-child {
    margin-top: 10px;
}

.user-info label {
    margin: 0;
}